 @model int
    
    
    
    
<!-- Cart Button -->
<div class="cart-btn">
    <p>
    <span class="icon-shopping-cart">
        </span> 
        <a asp-controller="Cart" asp-action="Index">
        <span class="quantity">@Model</span>
        </a>
    </p>
</div>